@model InwardPolicy.Admin.Models.CodesMasterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-header {
        background-color: #87E0E0;
    }
    .modal-body {
        background-color: #87E0E0;
    }
    #modalHeading {
        font-size: 50px;
    }
</style>

<div class="container bg-light p-4 border rounded shadow mt-2">
    @*Row1*@
    <div class=" text-end justify-content-center mb-3">
        <button id="btnAddNew"  type="button" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add New
        </button>
    </div>
    <form id="frmUserMaster" method="post">
        <div class="row justify-content-center mb-3">
            @*<div class="container bg-light p-4 border rounded shadow mt-2">*@
                <table class="table table-hover" id="tblCodesMaster">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">User Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            @*</div>*@
        </div>
    </form>
</div>

@* Modal *@

<div class="modal rounded fade" id="modalCodesMaster" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded">
            <div class="modal-header text-lg-center text-white">
                <h5 id="modalHeading" >Codes Master</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalCodesMasterBody">
                <!-- ViewComponent content will be loaded here dynamically -->
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(document).ready(function () {

            //datatable
            $('#tblCodesMaster').DataTable({
                //dom: 'Bfrtip', // Define layout for plugins
                buttons: [
                    'copy', 'excel', 'pdf', 'csv', 'print' // Add more buttons if needed
                ],
                ajax: {
                    url: '@Url.Action("CodesMasterBind", "CodesMaster", new { area = "Admin" })',
                    type: "POST"
                },
                processing: true,
                //colReorder: true,
                serverSide: true,
                //ordering: true, // Enable ordering
                searching: true, // Enable search
                paging: true, // Enable pagination
                //orderMulti: true, // Single column sorting
                pageLength: 10, // Default number of rows per page
                lengthMenu: [5, 10, 20, 50, 100], // Options for rows per page
                columns: [
                    { data: "CM_CODE", name: "USER_ID", autoWidth: true },
                    { data: "CM_TYPE", name: "USER_NAME", autoWidth: true },
                    { data: "CM_ACTIVE_YN", name: "USER_ACTIVE_YN", autoWidth: true },
                    {

                        render: function (data, type, row) {
                            if (row.CM_ACTIVE_YN === 'Y') {
                                return "<a onclick=UpdateUserMaster('" + row.USER_ID + "'); ><i class='bi bi-pencil'></i></a>";
                            } else {
                                return "<a onclick=UpdateUserMaster('" + row.USER_ID + "');><i class='bi bi-pencil'></i></a>" +
                                    "<a onclick=DeleteUserMaster('" + row.USER_ID + "');><i class='bi bi-trash'></i></a>";

                            }
                        }

                    }
                ],

            });
        });
        //delete
        function DeleteUserMaster(UserId) {
            //console.log("Deleting user with ID:", UserId);
            $.ajax({
                type: "DELETE",
                url: '@Url.Action("DeleteCodesMaster", "CodesMaster")',
                data: { userId: UserId },
                success: function (response) {
                    console.log("AJAX request was successful. Response:", response);
                    if (response) {
                         var message = "@ViewBag.Message";
                         var title = "@ViewBag.Title";
                        var icon = "@ViewBag.Icon";
                        console.log(message);
                        console.log(title);
                        console.log(icon);
                    }
                    else {

                    }
                    $('#tblUserMaster').DataTable().ajax.reload();
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred during deletion:", error);
                    console.log("Server response:", xhr.responseText);
                }
            });
        }

        //Modal
        $(function () {
                $('#btnAddNew').click(function () {
                    var CodeMasterViewModel = null;
                    $.ajax({
                        url: "@Url.Action("ShowModal", "CodesMaster",new { area = "Admin" })",
                        type: 'GET',
                        contentType: 'application/json',
                        data: JSON.stringify(CodeMasterViewModel),
                        success: function (CodesMasterViewComponent) {
                            $("#modalCodesMasterBody").html(CodesMasterViewComponent);
                            $("#modalCodesMaster").modal("show");
                            //$("#txtcode").prop("readonly", false);
                            //$("#txttype").prop("readonly", false);
                        },
                        error: function (xhr, status, error) {
                            console.log('Error: ' + error);
                        }
                    });
                });
            })
    </script>
}
